<!-- TODO: make the footer a 3 column responsive layout + -->
<footer class="footer">
    <div class="item">
        <h2 class="title">About</h2>
        <ul class="list">
            <li><a href="#" class="link">Learn More</a></li>
            <li><a href="#" class="link">People</a></li>
            <li><a href="#" class="link">Careers</a></li>
        </ul>
    </div>
    <div class="item">
        <h2 class="ft-title title">Resources</h2>
        <ul class="list">
            <li><a href="#" class="link">Docs</a></li>
            <li><a href="#" class="link">Blog</a></li>
        </ul>
    </div>
    <div class="item">
        <h2 class="title">Contact</h2>
        <ul class="list">
            <li><a href="#" class="link">Help</a></li>
            <li><a href="#" class="link">Sales</a></li>
        </ul>
    </div>
</footer>
