<div class="container" *ngIf="(people$ | async) as people">
  <h4 class="pt-3 pb-5">List of people (NGRX)</h4>

  <ng-container *ngIf="people.length; else empty">
    <div *ngFor="let person of people" class="card mx-auto my-3">
      <div class="card-body row">
        <h5 class="col-sm p-2">{{ person.firstName + ' ' + person.lastName }}</h5>
        <h6 class="card-text col-sm p-2">Age: {{ person.age }}</h6>
        <p class="card-text col-sm p-2">{{ person.workTitle }}</p>

        <div class="d-flex col-sm justify-content-end align-items-center" style="justify-self: end">
          <button class="btn btn-outline-info mr-2 material-icons-round d-flex align-items-center" type="button" (click)="editPerson(person)">
            <span class="material-icons">edit</span>
          </button>
          <button class="btn btn-outline-danger material-icons-round d-flex align-items-center" type="button" (click)="deletePerson(person)">
            <span class="material-icons">delete</span>
          </button>
        </div>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #empty>
  Nothing found
</ng-template>
